html {
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 4vw;
}

h2 {
  font-size: 1.5rem;
}

/* copy types */

.copy-types::before {
  content: "Copy Types";
  font-size: 2rem;
}

.copy-box {
  width: 45vw;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #abd8ff;
}

.copy-box button {
  padding: 6px;
  cursor: pointer;
}

.copy-box textarea {
  padding: 8px;
}

/* clipboard history */
.clipboard-history {
  width: 45vw;
}

.clipboard-history::before {
  content: "Clipboard History";
  font-size: 2rem;
}

.clipboard-item {
  margin-top: 20px;
  padding: 20px;
  background-color: #fbd54d;
}

.clipboard-item img {
  width: 100%;
}

.clipboard-item .item-content {
  margin-top: 10px;
}
