html {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.copy-types::before {
  content: "Copy types";
  font-size: 2rem;
}

.copy-box {
  width: 44vw;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #b1daff;
}

.copy-box * {
  width: 100%;
}

.copy-box button {
  padding: 6px;
  cursor: pointer;
}

.copy-text textarea {
  padding: 8px;
}

img {
  width: 100%;
}

.clipboard-history {
  width: 44vw;
}

.clipboard-history::before {
  content: "Clipboard History";
  font-size: 2rem;
}

.clipboard-item {
  margin-top: 20px;
  padding-bottom: 8px;
  background-color: rgb(255, 213, 220);
  padding: 20px;
}

.item-content {
  margin-top: 10px;
}